<% include ../partials/header.ejs %>
<div class="container">
    <div class="row">

        <div class="offset-md-3 col-md-3">
            <br>
            <h1><%= title %></h1>
            <% for(var i in messages) { %>
                <div class="flash"><%= messages[i] %></div>
            <% } %>
            <form action="/users/login" method="post">
                <div class="form-group">
                    <label>Username:</label>
                    <input type="text" name="username" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" name="password" class="form-control"/>
                </div>
                <br>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Login" />                    
                </div>
                <br>
                <div class="form-group">
                    <a href="/users/register" style="text-decoration: none">                
                        <i class="fas fa-user-plus"></i> 
                        Register
                    </a>
                </div>
            </form>
        </div>
        <div>
                        
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>