<!-- Footer partial -->
<footer>
    <p>
        <small>© Copyright 2022 </small><br>
        <small>Christian Aduna, Brandon Occhiuzzi, Abdul Rahman Saud</small><br>
        <small>Centennial College COMP 229 (005) Fall 2022</small><br><br>
    </p>
</footer>

<script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        var getTitle = "<%= title %>";
    </script>
    <script src="/javascripts/appclient.js"></script>
</body>
</html>