<!-- File Name: header.ejs
Name: Christian Aduna
Student ID: 301250889
Date: 07 November 2022 -->

<!-- Header partial -->
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
</head>
<body>
    <h1>Web Spinners</h1>
    <h3>Used Products Selling Site</h3>
    <!-- Main Nav bar  -->  
  <nav class="navbar navbar-expand bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/images/WebSpinners.png" alt="logo" style="width:40px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <% if (title == "Home") { %>
                  <a class="nav-link active" href="/">
              <% } else { %>
                  <a class="nav-link" href="/">
              <% } %>            
                  <i class="fas fa-home"></i> Home </a>
              </a>
            </li>
            <li class="nav-item">
              <% if (title == "Ads") { %>
                  <a class="nav-link active" href="/ads/list">
              <% } else { %>
                  <a class="nav-link" href="/ads/list">
              <% } %>            
                   Ads </a>
              </a>
            </li>                      
            <li class="nav-item">
              <% if (title == "Users") { %>
                  <a class="nav-link active" href="/users">
              <% } else { %>
                  <a class="nav-link" href="/users">
              <% } %>            
                  <i class="fas fa-user"></i> Users </a>
              </a>
            </li> 
          </ul>
        </div>
      </div>
    </nav>