<!-- File Name: list.ejs
Name: Christian Aduna
Student ID: 301250889
Date: 12 November 2022 -->

<!-- <% include ../partials/header.ejs }} -->
<app-header></app-header>
<!-- <%= AdsList }} -->

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <h1>Ads List</h1>
        <br>
        <div>
            <a routerLink="/ads/add" class="btn btn-primary align-self-end" role="button">
                <i class="fas fa-plus-circle"></i> 
                Add a New Item
            </a>                
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Item</th>
                    <th class="text-center">Qty</th>
                    <th class="text-center">Status</th>
                    <th>Size</th>
                    <th class="text-center">Description</th>
                    <th class="text-center" colspan="2">Actions</th>
                </tr>

                <!-- Repeatable Template Row -->

                
                <!-- <% for(let count = 0; count < AdsList.length; count++) { }} -->
                <tr *ngFor="let item of adsList">
                        <td class="text-center">{{ item.item }}</td>
                        <td class="text-center">{{ item.qty }}</td>
                        <td class="text-center">{{ item.status }}</td>
                        <td>
                            Length: {{ item.size.l }}<br/>
                            Width: {{ item.size.w }}<br/>
                            UOM: {{ item.size.uom }}<br/>
                        </td>
                        <td class="text-center">{{ item.desc }}</td>
                        <td class="text-center">
                            <!-- <a href="/ads/edit/{{ item._id }}" class="btn btn-primary btn-sm"> -->
                            <button [routerLink]="['/ads/edit/', item._id]" class="btn bg-primary btn-primary btn-sm"></button>
                            <i class="fas fa-pencil-alt"></i>
                        </td>
                        <td class="text-center">
                            <!-- <a href="/ads/delete/{{ item._id }}" class="btn btn-danger btn-sm"> -->
                            <a (click)="deleteMethod(item._id)" class="btn bg-danger btn-danger btn-sm"></a>
                            <i class="fas fa-trash-alt"></i>
                        </td>
                    </tr>
                <!-- <% } }} -->
            </table>
        </div>
    </div>
  </main>
  <app-footer></app-footer>
  <!-- <% include ../partials/footer.ejs }} -->